.mapsList{

}

.mapsListItem{
    padding: 20px 20px 20px 100px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #FFFFFF;
}

.mapsListItem:last-child{
    border-bottom-style: none;
}

.hexagonal{
    background: transparent url('../../../resources/formats/hexagonal.png') 20px center no-repeat;
    background-size: 45px 39px;
}

.quadratic{
    background: transparent url('../../../resources/formats/quad.png') 20px center no-repeat;
    background-size: 39px 39px;
}

@media (min-width: 670px) {
    .mapsList{
        display: flex;
        flex-wrap: wrap;
    }

    .mapsListItem{
        width: 50%;
    }

    .mapsListItem:nth-child(2n+1){
        border-right: 1px solid #d8d8d8;
    }

    .mapsListItem:nth-child(2n+1):nth-last-child(-n+2),
    .mapsListItem:nth-child(2n+1):nth-last-child(-n+2) ~ .mapsListItem {
        border-bottom: none;
    }
}